*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }
  @media screen and (max-width: 839px) {
    html {
      font-size: 87.5%; } }

body {
  font-family: "Be Vietnam", sans-serif; }

.container {
  max-width: 1440px;
  margin: 0 auto; }
  @media screen and (min-width: 1440px) {
    .container {
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); } }

.cta,
.feature-number {
  border-radius: 2.5rem;
  border: 1px solid #f25f3a;
  background: #f25f3a;
  color: #fafafa; }
  .cta--header,
  .feature-number--header {
    width: 9rem;
    height: 3rem;
    font-size: 0.8rem;
    font-weight: 700;
    box-shadow: 0px 12px 13px -10px #f25f3a; }

img {
  max-width: 100%; }

header {
  padding: 3rem 8vw; }

.hamburger {
  background: url(/images/icon-hamburger.svg);
  height: 18px;
  width: 20px;
  display: block; }

nav {
  display: flex; }
  nav .menu-open {
    margin-left: auto; }

.hero {
  padding-top: 3rem; }
  @media screen and (min-width: 840px) {
    .hero {
      padding-top: 5rem;
      display: flex;
      justify-content: space-between; } }
  @media screen and (min-width: 840px) {
    .hero__image {
      order: 2;
      width: 45%; } }
  .hero__image img {
    display: block;
    margin: 0 auto; }
  @media screen and (max-width: 839px) {
    .hero__text {
      text-align: center; } }
  @media screen and (min-width: 840px) {
    .hero__text {
      text-align: left;
      width: 50%;
      align-self: center; } }
  .hero__text .title {
    font-size: 2.6rem;
    color: #242d52; }
  .hero__text p {
    color: #9095a7;
    font-size: 1.2rem;
    line-height: 2;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem; }

.features {
  padding: 3rem 8vw; }
  .features__text {
    text-align: center;
    padding-bottom: 5rem; }
    .features__text h1 {
      font-size: 2.2rem;
      padding-bottom: 1.5rem; }
    .features__text p {
      color: #9095a7;
      line-height: 2;
      font-weight: 400; }
  .features__list .item {
    padding-bottom: 2.8rem; }
    .features__list .item .heading {
      display: flex;
      background: #fff0ec;
      margin-right: -2rem; }
      .features__list .item .heading .feature-number {
        width: 4.2rem;
        height: 2.4rem;
        text-align: center;
        line-height: 1.8; }
      .features__list .item .heading .benefit {
        padding-left: 1rem;
        padding-top: 3px; }
    .features__list .item p {
      padding-top: 0.8rem;
      color: #9095a7;
      line-height: 2; }
