*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Be Vietnam", sans-serif;
  background: url(/images/bg-tablet-pattern.svg) top -10.1rem right -5.5rem no-repeat; }

.container {
  max-width: 1440px;
  padding: 3rem 8vw; }

.hamburger {
  background: url(/images/icon-hamburger.svg);
  height: 18px;
  width: 20px;
  display: block; }

header {
  display: flex; }
  header .menu-open {
    margin-left: auto; }

.hero {
  width: 100%;
  padding-top: 3rem; }
  .hero__image img {
    width: 100%; }
