@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

//COLORS: Primary
$color-bright-red: hsl(12, 88%, 59%);
$color-light-red: #fff0ec;
$color-dark-blue: hsl(228, 39%, 23%);
$color-error: #e74c3c;

//Neutrals
$color-gray-blue: hsl(227, 12%, 61%);
$color-darker-blue: hsl(233, 12%, 13%);
$color-pale-red: hsl(13, 100%, 96%);
$color-light-gray: hsl(0, 0%, 98%);

//RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // transition: all 0.3s;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  @media screen and (max-width: 839px) {
    font-size: 87.5%;
  }
}

body {
  font-family: "Be Vietnam", sans-serif;
}

h1,
h3 {
  color: $color-dark-blue;
}

p {
  color: $color-gray-blue;
  // line-height: 2;
}

img {
  max-width: 100%;
}
