// - Mobile: 375px
// - Desktop: 1440px

//COLORS: Primary
$color-bright-red: hsl(12, 88%, 59%);
$color-light-red: #fff0ec;
$color-dark-blue: hsl(228, 39%, 23%);

//Neutrals
$color-gray-blue: hsl(227, 12%, 61%);
$color-darker-blue: hsl(233, 12%, 13%);
$color-pale-red: hsl(13, 100%, 96%);
$color-light-gray: hsl(0, 0%, 98%);

//RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  @media screen and (max-width: 839px) {
    font-size: 87.5%;
  }
}

body {
  font-family: "Be Vietnam", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  @media screen and (min-width: 1440px) {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
}

.cta,
.feature-number {
  border-radius: 2.5rem;
  border: 1px solid $color-bright-red;
  background: $color-bright-red;
  color: $color-light-gray;

  &--header,
  &--reviews {
    width: 9.6rem;
    height: 3rem;
    font-size: 0.8rem;
    font-weight: 700;
    box-shadow: 0px 12px 13px -10px rgba(242, 95, 58, 1);
  }
}

img {
  max-width: 100%;
}

h1,
h3 {
  color: $color-dark-blue;
}

p {
  color: $color-gray-blue;
  line-height: 2;
}
