header {
  padding: 4.2rem 0 6.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2.4rem 1.5rem 0.8rem;
  margin: 0 -2rem 0;

  @media screen and (min-width: 768px) {
    margin: 0;
  }

  @media screen and (min-width: 992px) {
    padding: 1.5rem 0 0 0;
  }

  .brand {
    align-self: flex-end;

    img {
      transform: scale(0.8);

      @media screen and (min-width: 768px) {
        transform: scale(1);
        padding-left: 0.8rem;
      }
    }
  }

  ul {
    position: fixed;
    list-style: none;
    top: 10rem;
    left: 2rem;
    right: 2rem;
    transition: all 0.2s ease-in-out;
    transform: scale(0);
    background: #fff;
    transform-origin: top right;
    text-align: center;
    padding: 4rem 0;
    font-weight: 700;
    border-radius: 1rem;
    z-index: 10;

    @media screen and (min-width: 992px) {
      display: flex;
      align-items: center;
      transform: none;
      font-weight: 400;
      position: static;
      padding: 0;
      background: transparent;
    }

    @media screen and (max-width: 991px) {
      :not(:last-child) {
        padding-bottom: 2rem;
      }
    }

    li {
      @media screen and (min-width: 992px) {
        padding-right: 3.2rem;
      }

      a {
        text-decoration: none;
        color: $color-darker-blue;
        font-size: 1.8rem;

        &:hover {
          color: $color-gray-blue;
        }

        @media screen and (min-width: 992px) {
          font-size: 1.3rem;
        }
      }
    }
  }
}

#toggle {
  display: none;
}

.hamburger {
  margin-top: 1rem;
  z-index: 5;
  cursor: pointer;

  @media screen and (min-width: 992px) {
    display: none;
  }

  &__icon,
  &__icon::before,
  &__icon::after {
    height: 0.4rem;
    width: 2.5rem;
    display: block;
    background: $color-darker-blue;
    transition: all 0.3s ease-in-out;
  }

  &__icon {
    position: relative;
    transition: all 0.3s ease-in-out;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  // z-index: 1;
  opacity: 0;
  transition: opacity 400ms ease;
  background-color: rgba(0, 0, 0, 0.5);
  // background-image: linear-gradient(to bottom, #fbfbfb, #b1b1b1, #696969);
  // width: 100%;
}

#toggle:checked ~ .hamburger .hamburger__icon {
  transform: rotate(45deg);
}

#toggle:checked ~ .hamburger .hamburger__icon::before {
  transform: rotate(-90deg);
  top: -0.1rem;
}
#toggle:checked ~ .hamburger .hamburger__icon::after {
  opacity: 0;
  transform: rotate(45deg);
}

#toggle:checked ~ .overlay {
  opacity: 1;
  pointer-events: all;
  width: 100%;
}

#toggle:checked ~ ul {
  transform: scale(1);
}

//////////////////
///HERO SECTION//
/////////////////s
.hero {
  margin: 0 auto;
  padding-top: 2.7rem;

  // @media screen and (min-width: 920px) {
  //   // padding-top: 5rem;
  //   padding-top: 7.6rem;
  //   display: flex;
  //   justify-content: space-between;
  // }

  &__wrapper {
    @media screen and (min-width: 992px) {
      display: flex;
      margin-top: 9rem;
    }
  }

  &__image {
    @media screen and (min-width: 992px) {
      order: 2;
      flex: 1;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__text {
    padding-top: 1rem;
    text-align: center;

    @media screen and (min-width: 920px) {
      display: grid;
      grid-template-rows: 21rem 9rem 8rem;
      row-gap: 1rem;
      text-align: left;
      flex: 1;
      padding-top: 0;
      align-self: center;
    }

    .title {
      font-size: 3.7rem;
      color: $color-dark-blue;
      line-height: 1.4;

      @media screen and (min-width: 992px) {
        font-size: 5.5rem;
        line-height: 1.2;
      }
      // @media screen and (min-width: 1125px) {
      //   font-size: 3.3rem;
      // }
    }

    .subtitle {
      font-size: 1.5rem;
      padding: 0.8rem 1.4rem 1.5rem;
      line-height: 1.8;

      @media screen and (min-width: 992px) {
        padding-left: 0;
        padding-right: 18rem;
        font-size: 1.7rem;
        line-height: 1.6;
      }
    }
  }
}

////////////
//FEATURES//
///////////
.features {
  padding: 3rem 0 5rem;

  @media screen and (min-width: 992px) {
    padding-top: 5rem;
  }

  &__wrapper {
    @media screen and (min-width: 992px) {
      display: flex;
    }
  }

  &__text {
    text-align: center;
    padding-bottom: 6rem;
    @media screen and (min-width: 992px) {
      text-align: left;
      flex: 1;
    }
  }

  h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;

    @media screen and (min-width: 992px) {
      font-size: 4rem;
      line-height: 1.1;
      padding-bottom: 3rem;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.8;
    @media screen and (min-width: 992px) {
      font-size: 1.6rem;
      padding-right: 15vw;
      line-height: 1.7;
    }
  }

  &__list {
    @media screen and (max-width: 991px) {
      margin: 0 -2.4rem 0 -1rem;
    }
    @media screen and (min-width: 920px) {
      flex: 1;
      padding-left: 3rem;
    }
  }

  &__item {
    padding-bottom: 5.2rem;

    @media screen and (min-width: 992px) {
      padding-bottom: 3.8rem;
    }

    .heading {
      display: flex;
      background: $color-light-red;
      // margin-right: -8vw;

      @media screen and (min-width: 992px) {
        background: none;
      }

      .feature-number {
        width: 6.4rem;
        height: 3.8rem;
        text-align: center;
        line-height: 2;
        font-size: 1.6rem;
        font-weight: 400;
      }

      .benefit {
        padding-left: 1.2rem;
        padding-top: 0.6rem;
        font-size: 1.6rem;
        @media screen and (min-width: 992px) {
          padding-left: 2.8rem;
        }
      }
    }

    .details {
      padding-top: 0.8rem;
      @media screen and (min-width: 992px) {
        padding-right: 0;
        padding-left: 9.2rem;
      }
    }
  }
}

////////////////
//TESTIMONIALS//
////////////////
.reviews {
  text-align: center;
  padding: 0 8vw 5rem;
  overflow: hidden;
  @media screen and (min-width: 1078px) {
    padding: 0 0 5rem;
  }

  h2 {
    font-size: 2.2rem;
    padding-bottom: 4rem;
  }

  &__wrapper {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-bottom: 2rem;

    &::-webkit-scrollbar {
      display: none; //will not work on firefox
    }

    @media screen and (min-width: 920px) and (max-width: 1077px) {
      width: 700px;
    }

    @media screen and (min-width: 920px) {
      margin: 0 auto 1.5rem;
    }
    @media screen and (min-width: 1078px) {
      padding-bottom: 1.5rem;
    }
    .card {
      position: relative;
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 100%;
      margin-right: 3rem;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s ease;
      // transition: opacity 0.5s ease-out;
      // transition: transform 0.3s ease, -webkit-transform 0.3s ease;

      @media screen and (min-width: 1078px) {
        width: 33.3%;
        margin-right: 2rem;

        // &:hover {
        //   transform: translateY(-0.25rem);
        // }
      }

      img {
        width: 5rem;
        height: 5rem;
        position: relative;
        margin-top: 2rem;
        margin-bottom: -2.5rem;
        text-align: center;
      }
      .testimonial {
        background: $color-light-gray;
        padding: 3.2rem 1rem 2rem;
        width: 100%;

        @media screen and (min-width: 1236px) and (max-width: 1430px) {
          height: 14.5rem;
        }
      }
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;

    @media screen and (min-width: 1078px) {
      display: none;
    }

    a {
      cursor: pointer;
      height: 0.8rem;
      width: 0.8rem;
      margin: 0 0.25rem;
      border: 1px solid #f25f3a;
      border-radius: 50%;
      transition: background-color 0.6s ease;
      &:active,
      &:hover {
        background-color: $color-bright-red;

        // @supports (scroll-snap-type) {
        //   display: none;
        // }
      }
      //test
      &:focus {
        background-color: greenyellow;
      }
    }
  }
}

///////////////
//CTA section//
//////////////
.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 8vw;
  background: $color-bright-red;
  position: relative;

  @media screen and (min-width: 920px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 12vw;
  }

  &::before {
    content: " ";
    display: block;
    position: absolute;
    left: -21rem;
    top: 4rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    /* background-position: 100% 40%; */
    background-size: cover;
    background-position: 100% 0%;

    @media screen and (min-width: 920px) {
      left: -1rem;
      top: 0;
      width: 60%;
    }
  }

  h1 {
    text-align: center;
    font-size: 2.6rem;
    color: $color-light-gray;
    padding-bottom: 3rem;

    @media screen and (min-width: 920px) {
      width: 50%;
      padding-bottom: 0;
      text-align: left;
    }
  }
}

///////////
//FOOTER///
///////////
footer {
  display: grid;
  grid-template-rows: 1fr 3fr 2fr 1fr;
  grid-row-gap: 2rem;
  grid-template-areas: "email" "menu" "social" "copyright";
  // align-items: center;

  background: $color-darker-blue;
  color: $color-light-gray;
  padding: 3rem 8vw;
  position: relative;
  z-index: 2;

  @media screen and (min-width: 920px) {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 5fr 5fr;
    grid-template-areas:
      "social menu email"
      "social menu copyright";
    column-gap: 2rem;
  }

  form {
    grid-area: email;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 35rem;
    padding-bottom: 1rem;

    input {
      width: 60vw;
      height: 2.8rem;
      border-radius: 2.5rem;
      border: none;
      padding-left: 1.5rem;
      font-size: 0.9rem;
      color: $color-gray-blue;
      margin-right: 0.5rem;
      outline: none;

      @media screen and (min-width: 920px) {
        width: 20vw;
      }
    }

    small {
      color: $color-error;
      position: absolute;
      // bottom: 0;
      // left: 0;
      visibility: hidden;
    }
  }

  .footer-menu {
    grid-area: menu;
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 919px) {
      width: 100%;
      max-width: 35rem;
      margin: 0 auto;
    }

    li {
      list-style: none;
      padding-bottom: 1rem;
      cursor: pointer;

      &:hover {
        color: $color-bright-red;
      }
    }
  }
  .social {
    grid-area: social;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icons {
      display: flex;
      justify-content: space-between;
      // align-self: flex-start;
      width: 100%;
      margin: 0 auto;
      @media screen and (max-width: 919px) {
        max-width: 35rem;
      }

      @media screen and (min-width: 920px) {
        order: 2;
        max-width: 13rem;
      }

      img {
        cursor: pointer;
        width: 2.2rem;
        height: 2.2rem;
        @media screen and (min-width: 920px) {
          height: 1.5rem;
          width: 1.5rem;
        }
      }

      .size {
        width: 2.3rem;

        @media screen and (min-width: 920px) {
          width: 1.5rem;
        }
      }
    }

    .logo {
      width: 12rem;
      height: 2rem;
      align-self: center;

      @media screen and (min-width: 920px) and (max-width: 1081px) {
        height: 1.7rem;
        width: 10rem;
      }
    }
  }

  .copyright {
    grid-area: copyright;
    align-self: flex-end;
    justify-self: center;
    font-size: 0.9rem;

    @media screen and (min-width: 920px) {
      justify-self: flex-end;
    }
  }

  //   .attribution {
  //     font-size: 11px;
  //     text-align: center;
  //     @media screen and (min-width: 920px) {
  //       grid-column: 1/-1;
  //     }
  //   }
  //   .attribution a {
  //     color: #909fda;
  //     text-decoration: none;
  //   }
  // }
}
