// header {
// background: url(/images/bg-tablet-pattern.svg) top -2rem right -5rem no-repeat;
// background-size: 100%;

// background: url(/images/bg-tablet-pattern.svg),
//   url(/images/bg-tablet-pattern.svg);
// background-repeat: no-repeat;
// background-size: 100%, 80%;
// background-position: top -2rem right -5rem, bottom right -11rem;
// padding: 3rem 8vw;

// @media screen and (min-width: 600px) {
//   background-size: 80%, 60%;
// }

// @media screen and (min-width: 840px) {
//   background: url(/images/bg-tablet-pattern.svg);
//   background-repeat: no-repeat;
//   background-size: 60%;
//   background-position: top -3rem right -8rem;
// }

// @media screen and (min-width: 1155px) {
//   background-size: 50%;
// }
// }
// }

header {
  padding: 3rem 8vw 5rem;
}

.hamburger {
  background: url(/images/icon-hamburger.svg);
  height: 18px;
  width: 20px;
  display: block;
}

nav {
  display: flex;

  .menu-open {
    margin-left: auto;
  }
}

.hero {
  // width: 100%;
  padding-top: 3rem;

  @media screen and (min-width: 920px) {
    padding-top: 5rem;

    display: flex;
    justify-content: space-between;
  }

  &__image {
    @media screen and (min-width: 920px) {
      order: 2;
      width: 50%;
    }

    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__text {
    @media screen and (max-width: 919px) {
      text-align: center;
    }

    @media screen and (min-width: 920px) {
      text-align: left;
      width: 45%;
      align-self: center;
    }

    .title {
      @media screen and (min-width: 920px) {
        font-size: 2.3rem;
      }

      font-size: 2.6rem;
      color: $color-dark-blue;
    }

    p {
      // font-size: 1.2rem;
      padding-top: 0.5rem;
      padding-bottom: 1.5rem;

      @media screen and (min-width: 920px) {
        padding: 1.5rem 8vw 2rem 0;
      }
    }
  }
}

////////////
//FEATURES//
///////////
.features {
  padding: 3rem 8vw 5rem;

  @media screen and (min-width: 920px) {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    text-align: center;
    padding-bottom: 5rem;

    @media screen and (min-width: 920px) {
      width: 45%;
      text-align: left;
      padding-bottom: 0;
    }

    h1 {
      font-size: 2.2rem;
      padding-bottom: 1.5rem;
    }

    p {
      @media screen and (min-width: 920px) {
        padding-right: 8vw;
      }
    }
  }

  &__list {
    @media screen and (min-width: 920px) {
      width: 50%;
    }
    .item {
      padding-bottom: 2.8rem;

      .heading {
        display: flex;
        background: $color-light-red;
        margin-right: -8vw;

        @media screen and (min-width: 920px) {
          background: none;
        }

        .feature-number {
          width: 4.2rem;
          height: 2.4rem;
          text-align: center;
          line-height: 1.8;
        }

        .benefit {
          padding-left: 1rem;
          padding-top: 3px;
        }
      }
      p {
        padding-top: 0.8rem;
      }
    }
  }
}

////////////////
//TESTIMONIALS//
////////////////
.reviews {
  text-align: center;
  padding: 0 8vw 5rem;
  overflow: hidden;
  @media screen and (min-width: 1078px) {
    padding: 0 0 5rem;
  }

  h2 {
    font-size: 2.2rem;
    padding-bottom: 4rem;
  }

  &__wrapper {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    margin-bottom: 2rem;

    &::-webkit-scrollbar {
      display: none; //will not work on firefox
    }

    @media screen and (min-width: 920px) and (max-width: 1077px) {
      width: 700px;
    }

    @media screen and (min-width: 920px) {
      margin: 0 auto 1.5rem;
    }
    @media screen and (min-width: 1078px) {
      padding-bottom: 1.5rem;
    }
    .card {
      position: relative;
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 100%;
      margin-right: 3rem;
      // transform-origin: center center;
      // transform: scale(1);
      // transition: transform 0.5s;
      // transition: opacity 0.5s ease-out;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease;

      @media screen and (min-width: 1078px) {
        width: 33.3%;
        margin-right: 2rem;

        // &:hover {
        //   transform: translateY(-0.25rem);
        // }
      }

      img {
        width: 5rem;
        height: 5rem;
        position: relative;
        margin-top: 2rem;
        margin-bottom: -2.5rem;
        text-align: center;
      }
      .testimonial {
        background: $color-light-gray;
        padding: 3.2rem 1rem 2rem;
        width: 100%;

        @media screen and (min-width: 1236px) and (max-width: 1430px) {
          height: 14.5rem;
        }
      }
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;

    @media screen and (min-width: 1078px) {
      display: none;
    }

    a {
      cursor: pointer;
      height: 0.8rem;
      width: 0.8rem;
      margin: 0 0.25rem;
      border: 1px solid #f25f3a;
      border-radius: 50%;
      transition: background-color 0.6s ease;
      &:active,
      &:hover {
        background-color: $color-bright-red;

        // @supports (scroll-snap-type) {
        //   display: none;
        // }
      }
      //test
      &:focus {
        background-color: greenyellow;
      }
    }
  }
}

///////////////
//CTA section//
//////////////
.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 8vw;
  background: $color-bright-red;
  position: relative;

  @media screen and (min-width: 920px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 12vw;
  }

  &::before {
    content: " ";
    display: block;
    position: absolute;
    left: -21rem;
    top: 4rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background-image: url(/images/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    /* background-position: 100% 40%; */
    background-size: cover;
    background-position: 100% 0%;

    @media screen and (min-width: 920px) {
      left: -1rem;
      top: 0;
      width: 60%;
    }
  }

  h1 {
    text-align: center;
    font-size: 2.6rem;
    color: $color-light-gray;
    padding-bottom: 3rem;

    @media screen and (min-width: 920px) {
      width: 50%;
      padding-bottom: 0;
      text-align: left;
    }
  }
}
