footer {
  background: $color-darker-blue;
  color: $color-light-gray;
  padding: 4.7rem 0;
  padding: 5.2rem 0;

  .wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-row-gap: 3.2rem;
    grid-template-areas: "email" "menu" "social" "copyright";

    position: relative;
    // z-index: 2; ??????

    @media screen and (min-width: 992px) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 3fr 5fr 5fr;
      grid-template-areas:
        "social menu email"
        "social menu copyright";
      column-gap: 3.2rem;
    }

    form {
      grid-area: email;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 56rem;
      // padding-bottom: 1.6rem;
      padding-bottom: 2.2rem;

      input {
        width: 64vw;
        height: 4.5rem;
        border-radius: 2.5rem;
        border: none;
        padding-left: 2.4rem;
        font-size: 1.4rem;
        color: $color-gray-blue;
        margin-right: 0.8rem;
        outline: none;

        // @media screen and (min-width: 920px) {
        //   width: 20vw;
        // }
      }

      small {
        color: $color-error;
        position: absolute;
        // bottom: 0;
        // left: 0;
        visibility: hidden;
      }
    }

    .footer-menu {
      grid-area: menu;
      display: flex;
      justify-content: space-around;

      // @media screen and (max-width: 919px) {
      //   width: 100%;
      //   max-width: 35rem;
      //   margin: 0 auto;
      // }

      li {
        list-style: none;

        a {
          text-decoration: none;
          padding-bottom: 1.3rem;
          font-size: 1.5rem;
          color: $color-light-gray;
          display: block;

          &:hover {
            color: $color-bright-red;
          }
        }
      }
    }

    .social {
      grid-area: social;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .icons {
        display: flex;
        justify-content: space-between;
        // align-self: flex-start;
        width: 100%;
        margin: 0 auto;
        max-width: 56rem;
        padding: 0 4vw;

        // @media screen and (max-width: 919px) {
        //   max-width: 35rem;
        // }

        @media screen and (min-width: 992px) {
          order: 2;
          max-width: 20.8rem;
        }

        img {
          cursor: pointer;
          width: 3.5rem;
          height: 3.5rem;
          @media screen and (min-width: 992px) {
            height: 2.4rem;
            width: 2.4rem;
          }
        }

        .size {
          width: 3.7rem;

          // @media screen and (min-width: 920px) {
          //   width: 1.5rem;
          // }
        }
      }

      .logo {
        width: 16.2rem;
        height: 2.6rem;
        align-self: center;
        margin-bottom: 2.5rem;

        // @media screen and (min-width: 920px) and (max-width: 1081px) {
        //   height: 1.7rem;
        //   width: 10rem;
        // }
      }
    }

    .copyright {
      grid-area: copyright;
      align-self: flex-start;
      justify-self: center;
      font-size: 1.3rem;

      // @media screen and (min-width: 920px) {
      //   justify-self: flex-end;
      // }
    }

    .attribution {
      font-size: 11px;
      text-align: center;
      //     @media screen and (min-width: 920px) {
      //       grid-column: 1/-1;
      //     }
    }
    .attribution a {
      color: #909fda;
      text-decoration: none;
    }
    // }
  }
}
